/*
Theme Name: bluestormtheme
Theme URI: https://bluestormcreative.com/
Author: blue storm creative
Author URI: https://bluestormcreative.com
Description: Custom theme by Blue Storm Creative, Bootstrap & Underscores
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bluestormtheme

*/


/*--------------------------------------------------------------
# Global

colors:

gray			= #efefef;
blue 			= #18345e;

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html,
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	font-family: 'Montserrat', 'Open Sans', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight:normal;
}

h2 {
  font-size:36px;
}

.entry-content h3 {
  color:#18345e;
  font-size:30px;
}

h4 {
  font-size:28px;
  color:#18345e;
}

h5 {
  font-size:24px;
  text-transform: uppercase;
}

h6 {
  font-size:24px;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em 1.5em;
	font-style:italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}
.copyright {
	text-align:center;
	margin:20px 0;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap:nowrap;
}

/* =============== Header =========================== */

.site-header {
	padding-bottom:1.5rem;
	border-bottom:1px solid #efefef;
}

.logo {
	display:block;
	margin-top:20px;
}

.banner {
	background-size:cover;
	background-position: center center;
	background-repeat:no-repeat;
}

.page-heading {
	padding:1.8rem 0;
	margin-bottom:2rem;
	text-align:center;
	text-transform: uppercase;
	background-image:url('images/example.jpg');
	background-size:cover;
	background-position:top center;
	color:white;
}

/* =============== Front Page =========================== */


.front-posts {
	margin:5rem 0 3rem;
}

.front-post:hover,
.front-post:focus,
.front-post:hover .front-post-title,
.front-post:focus .front-post-title {
	text-decoration: none;
	color:#d0268c;
}

.front-post img {
	width:100%;
	max-width:100%;
	height:auto;
	border: 1px solid transparent;
  opacity:.7;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.front-post:hover img,
.front-post:focus img {
	border-color:#d0268c;
  opacity:1;
}

.front-post-title {
	margin-top:10px;
	line-height:1.2;
	text-align: center;
	color:#545454;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.section-heading {
	text-transform: uppercase;
	text-align:center;
	font-size:1.3rem;
	margin:3rem 0 2rem;
}


/* =============== Footer =========================== */

.footer-widgets {
	padding:20px 0;
	margin:2rem 0;
	background:#efefef;
}

/*--------------------------------------------------------------
# Optins & Forms
--------------------------------------------------------------*/

.banner-optin {
	margin:2rem 0;
	color:white;
	text-align: center;
}

.banner-text h2 {
	text-transform: uppercase;
	font-weight:300;
}

.banner-text {
	font-weight:300;
}

.banner-code h2 {
	font-family: 'Rouge Script', cursive;
	font-size:3rem;
}

.banner-code input, .optin input{
	display:inline-block;
	width:48%;
	margin-right:1%;
	margin-bottom:.5rem;
	text-align: center;
	text-transform: uppercase;
	color:#545454;
  padding:5px;
}

.optin input[type=submit] {
	color:#18345e;
}

.footer-optin input[type=submit].button {
	color:white;
}



/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #18345e;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

a:visited {
	color: #18345e;
}

a:hover,
a:focus,
a:active {
	color: green;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	margin:35px 0 0;

}

.footer-menu {
	clear:both;
	width:100%;
	overflow:hidden;
	position:relative;
}

.main-navigation ul{
	float:right;
	display:none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.footer-menu ul {
	float:left;
	left:50%;
	position:relative;
	list-style: none;
	margin:0;
	padding-left:0;
}

.main-navigation li,
.footer-menu li {
	float: left;
	position: relative;
	margin-right:20px;
}

.footer-menu li {
	right:50%;
}

.main-navigation li:last-child,
.footer-menu li:last-child {
	margin-right:0;
}

.main-navigation a,
.footer-menu a {
	display: block;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
	background:#efefef;
	padding:10px;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a,
.footer-menu li:hover > a,
.footer-menu li.focus > a {
	color:#18345e;
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =============== Social Media Icons =========================== */

ul#menu-social-media-icons,
ul#menu-social-media-icons-1 {
	margin-left:0;
	padding-left:0;
	list-style-type:none;
}

#menu-social-media-icons li,
#menu-social-media-icons-1 li {
	display:inline-block;
	width:30px;
	font-size:30px;
	margin-right:10px;
}

#menu-social-media-icons li a:hover i,
#menu-social-media-icons-1 li a:hover i {
	color:green;
}

.fa-facebook {
	color:#3b5998;
}

.fa-twitter {
	color:#00aced;
}

.fa-linkedin {
	color:#0976b4;
}

.fa-youtube {
	color:#b31217;
}

.fa-google-plus {
	color:#dd4b39;
}

.fa-rss {
	color:orange;
}

.fa-pinterest {
	color:#cc2127;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text, .screenreader, .fontawesome-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus, .screenreader:focus, .fontawesome-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom:1.5em;

}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom:1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
  margin-bottom:1.5em;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.blog article,
.archive article {
	padding:1.3rem;
	background:#efefef;
}

.blog .entry-title,
.archive .entry-title {
	clear:none;
	margin-top:0;
  font-size:2rem;
}

.entry-meta {
	text-transform: uppercase;
	font-size:.8rem;
}

.page-heading .entry-meta a {
  color:white;
}

.wp_rp_wrap { /* wordpress related posts*/
  margin-top:3rem;

}

.comments-link {
  display:inline-block;
  margin-right:10px;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comments-title, .comment-reply-title {
	padding-bottom: 9px;
	margin: 40px 0 20px 0;
	border-bottom: 1px solid #eee;
}

.comments-title {
	font-size:1.6rem;
}

ol.comment-list {
	list-style:none;
	padding-left: 0;
}

.comment-author .avatar {
	margin-right: 25px;
	border: 1px solid #ddd;
	border-radius: 4px;
	transition: all .2s ease-in-out;
	padding: 4px;
}

.comment-meta {
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment-metadata{
	float: right;
	margin-top: -22px;
	font-size: 14px;
}

.comment-details {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ddd;
}

.comment-details .reply {
	margin-top: 10px;
}

.comment-date a {
	font-size: 11px;
	color: #777;
	margin-right: 10px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

#commentform #comment {
	width: 100% !important;
}

/* =============== Buttons =========================== */

#commentform #submit, .btn, button, .button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #18345e;
	border-radius: 4px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;

	color: white;
	background-color: #18345e;
}

#commentform #submit:hover, .btn:hover, button:hover, .button:hover  {
	color: #18345e;
	background-color: white;
	border-color: #18345e;
}

.entry-content .button {
  text-decoration: none;
}


.read-more.button {
  text-decoration: none;
  color:white;
  float:right;
}

.read-more.button:hover,
.read-more.button:focus {
  color:#18345e;
}



/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}



/* =============== Media Queries =========================== */

@media screen and (max-width:768px) {

  .logo {
    text-align:center;
  }

  .row-eq-height {
    flex-wrap:wrap!important;
  }

  .row-eq-height .col-xs-12 {
    margin-bottom:2rem!important;
  }

  .footer-widgets {
    text-align:center;
  }


}

@media screen and (max-width:400px) {

  .banner-optin input,
  .footer-optin input {
    width:100%;
    display:block;
    margin-bottom:10px;
  }

}
